@import "variables";
@media only screen and (min-width: 1024px) {
  #competences {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10% 10%;
    opacity: 0;
    box-shadow: 0 0 1em #ccc;
    h2 {
      font-size: 1.5vw;
      font-family: "simpsonfontregular", sans-serif;
      color: $yellow;
      text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
        0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
        -1px 1px 0 $black;
      margin: 4%;
    }
    figure {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      height: 80%;
      img {
        width: 10vw; 
        height: 10vw;
      }
    }
  }

  // keyframes de Progress

  @keyframes apparition {
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @keyframes disparition {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
