@import "variables";

@media only screen and (min-width: 1024px) {
  #cv {
    width: 100%;
    height: 100%;
    margin: 5vw 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
      color: $yellow;
      font-family: "simpsonfontregular", sans-serif;
      text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
        0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
        -1px 1px 0 $black;
    }
    .remerciment {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2vw 0px;
      p {
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
        margin: 5px 0px;
      }
    }
    button {
      width: 11vw;
      height: 8vh;
      background: $blue;
      border-radius: 5px;
      a {
        font-size: 2rem;
        text-decoration: none;
        color: $yellow;
        text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
          0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
          -1px 1px 0 $black;
      }
    }
  }
}
