@import "variables";
@media only screen and (min-width: 1024px) {
  #contact {
    width: 100%;
    height: 10vh;
    background: $blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    section {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        text-decoration: none;
        color: $yellow;
        text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
          0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
          -1px 1px 0 $black;
        font-size: 1.8em;
        font-family: "simpsonfontregular", sans-serif;
        i {
          margin: 10px;
          font-size: 2.5vw;
        }
        .gitlab {
          width: 2.5vw;
        }
      }
    }
  }
}
