@import "variables";
@media only screen and (min-width: 1024px) {
  #navbar {
    background-color: $skyblue;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: top 0.5s;
    z-index: 100;
    width: 100%;
    height: 50px;
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      height: 100%;
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $yellow;
        text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
          0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
          0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
        font-size: 1.25vw;
        font-family: "simpsonfontregular", "sans-serif";
        .donuts {
          margin-right: 10px;
          width: 35px;
          height: 35px;
          opacity: 0;
          transition: 0.3s;
        }
        &:hover .donuts {
          opacity: 1;
        }
      }
    }
  }
}
