@import "variables";
@font-face {
  font-family: "simpsonfontregular";
  src: url("../fonts/simpsonfont_demo-webfont.woff2") format("woff2"),
    url("../fonts/simpsonfont_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

  main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: $blue;
    overflow: hidden;
    h1 {
      opacity: 0;
      color: $yellow;
      font-size: 5vw;
      text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
        0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
        0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
      animation: titre1 2s linear 1s forwards;
      margin: 15px;
      font-family: "simpsonfontregular", "sans-serif";
    }
    h2 {
      opacity: 0;
      color: $yellow;
      font-size: 3vw;
      text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
        0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
        0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
      animation: titre2 2s linear 1s forwards;
      margin: 15px;
      font-family: "simpsonfontregular", "sans-serif";
    }
    .icofont-arrow-down {
      position: absolute;
      opacity: 0;
      top: 85%;
      left: 47%;
      color: $yellow;
      font-size: 5vw;
      text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
        0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
        0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
      animation: fleche 1.5s  ease-in-out 3s infinite alternate;
    }

    img:nth-of-type(1) {
      position: absolute;
      width: 15%;
      object-fit: cover;
      top: 5%;
      left: 30%;
      animation: nuageG 2s linear forwards;
    }
    img:nth-of-type(2) {
      position: absolute;
      width: 45%;
      object-fit: cover;
      top: 20%;
      left: 20%;
      animation: nuageG 2s linear forwards;
    }
    img:nth-of-type(3) {
      position: absolute;
      width: 35%;
      object-fit: cover;
      top: 2%;
      left: -1%;
      animation: nuageG 2s linear forwards;
    }
    img:nth-of-type(4) {
      position: absolute;
      width: 45%;
      object-fit: cover;
      top: 27%;
      left: -1%;
      animation: nuageG 2s linear forwards;
    }
    img:nth-of-type(5) {
      position: absolute;
      width: 60%;
      object-fit: cover;
      top: 55%;
      left: -1%;
      animation: nuageG 2s linear forwards;
    }
    img:nth-of-type(6) {
      position: absolute;
      width: 48%;
      object-fit: cover;
      top: 70%;
      left: -1%;
      animation: nuageG 2s linear forwards;
    }

    img:nth-of-type(7) {
      position: absolute;
      width: 50%;
      object-fit: cover;
      top: 85%;
      left: -1%;
      animation: nuageG 2s linear forwards;
    }

    /* NUAGE DE DROITE */
    img:nth-of-type(8) {
      position: absolute;
      width: 35%;
      object-fit: cover;
      top: -1%;
      left: calc(100% - 34%);
      animation: nuageD 2s linear forwards;
    }
    img:nth-of-type(9) {
      position: absolute;
      width: 50%;
      object-fit: cover;
      top: 18%;
      left: calc(100% - 40%);
      animation: nuageD 2s linear forwards;
    }
    img:nth-of-type(10) {
      position: absolute;
      width: 60%;
      object-fit: cover;
      top: 35%;
      left: calc(100% - 50%);
      animation: nuageD 2s linear forwards;
    }
    img:nth-of-type(11) {
      position: absolute;
      width: 60%;
      object-fit: cover;
      top: calc(100% - 35%);
      left: calc(100% - 59%);
      animation: nuageD 2s linear forwards;
    }
    img:nth-of-type(12) {
      position: absolute;
      width: 60%;
      object-fit: cover;
      top: calc(100% - 35%);
      left: calc(100% - 59%);
      animation: nuageD 2s linear forwards;
    }
    img:nth-of-type(13) {
      position: absolute;
      width: 60%;
      object-fit: cover;
      top: calc(100% - 15%);
      left: calc(100% - 50%);
      animation: nuageD 2s linear forwards;
    }
  }
  /* text-shadow: 4px 0 0 $black, -4px 0 0 $black, 0 4px 0 $black,
      0 -4px 0 $black, 3px 3px $black, -3px -3px 0 $black, 3px -3px 0 $black,
      -3px 3px 0 $black;
font-size: 5vw; */

  @keyframes nuageG {
    0% {
    }
    100% {
      left: -70%;
    }
  }

  @keyframes nuageD {
    0% {
    }
    100% {
      left: 100%;
    }
  }

  @keyframes titre1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1.5);
    }
  }

  @keyframes titre2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1.5);
    }
  }

  // fleche qui descend 3s de delais

  @keyframes fleche {
    0% {
      opacity: 1;
      top: 85%;
    }
    100% {
      opacity: 1;
      top: 90%;
    }
  }
