@import "variables";

/* tablette */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  #navbar {
    background-color: $skyblue;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: top 0.5s;
    z-index: 100;
    width: 100%;
    height: 50px;
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      height: 100%;
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $yellow;
        text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
          0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
          0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
          font-family: "simpsonfontregular", "sans-serif";
        font-size: 2.5vw;
        .donuts {
          display: none;
        }
      }
    }
  }
  #portrait {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  #presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    margin: 15% 10% 10% 10%;
    opacity: 0;
    box-shadow: 0 0 1em #ccc;
    .img-profil {
      display: flex;
      align-items: baseline;
      justify-content: center;
      width: 30vw;
      padding: 1vw;
      .photo-profil {
        width: 100%;
        object-fit: cover;
      }
    }
    #texte_pre {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: 100%;
      margin: 1vw;
      padding: 5%;
      h2 {
        font-family: "simpsonfontregular", sans-serif;
        color: $yellow;
        font-size: 2rem;
        text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
          0 -1px 0 $black, 0.5px 0.5px $black, -0.5px -0.5px 0 $black,
          0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 2vw;
      }
    }
  }
  @keyframes apparition {
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @keyframes disparition {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
  #competences {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10% 10%;
    opacity: 0;
    box-shadow: 0 0 1em #ccc;
    h2 {
      font-size: 3vw;
      margin: 15px;
      font-family: "simpsonfontregular", sans-serif;
      color: $yellow;
      text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
      0 -1px 0 $black, 0.5px 0.5px $black, -0.5px -0.5px 0 $black,
      0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black;
    }
    figure {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 80%;
      width: 90%;
      img {
        width: 10vw;
      }
    }
  }
  .projet-text {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1em #ccc;
    opacity: 0;
    margin: auto;
    .projet-presentation {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 5%;
      h2 {
        font-size: 2rem;
        font-family: "simpsonfontregular", sans-serif;
        color: $yellow;
        text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
        0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
        0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
        padding: 10px;
      }
      p {
        font-size: 1.3rem;
        font-family: "Open Sans", sans-serif;
      }
    }
    @keyframes apparition {
      100% {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  
    @keyframes disparition {
      0% {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
  #projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 8vh;
    .figure {
      position: relative;
      display: flex;
      margin: 3.5vw;
      box-shadow: 0 0 1em rgb(100, 100, 100);
      border: 5px solid $skyblue;
      border-radius: 5px;
      overflow: hidden;
      height: 50vh;
      z-index: 99;
      width: 80vw;
      .figcaption {
        padding: 10px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        color: $txtfig;
        top: 0;
        left: 0;
        background-color: $figopacity;
        padding: 15px;
        width: 100%;
        font-size: 1.7rem;
        z-index: 99;
      }
      .click {
        color: $black;
        padding: 0.3vw;
        border-radius: 5px;
        background: $skyblue;
        text-decoration: none;
        height: 100%;
        font-size: 1.7rem;
        &:hover {
          color: $txtfig;
        }
      }
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      // classe avant l'apparition au click
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $skyblue;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .text {
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-family: "Open Sans", sans-serif;
          font-size: 1.5vw;
        }
      }
      // classe apres l'apparition au click
      .showDescription {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $blueProjet;
        overflow: hidden;
        width: 100%;
        height: 83%;
        transition: 0.5s ease;
        z-index: 80;
        .text {
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-family: "Open Sans", sans-serif;
          font-size: 1.5rem;
        }
      }
    }
  }
  #cv {
    width: 100%;
    height: 100%;
    margin: 5vw 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
    h2 {
      font-size: 2rem;
      color: $yellow;
      font-family: "simpsonfontregular", sans-serif;
      text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
        0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
        -1px 1px 0 $black;
        margin: 2.5%;
    }
    .remerciment {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 100%;
      margin: 2vw;
      p {
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
      }
    }
    button {
      margin-bottom: 5%;
      width: 20%;
      height: 8vh;
      background: $blue;
      border-radius: 5px;
      a {
        font-size: 2rem;
        text-decoration: none;
        color: $yellow;
        text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
          0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
          -1px 1px 0 $black;
      }
    }
  }
  #contact {
    width: 100%;
    height: 10vh;
    background: $blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    section {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        text-decoration: none;
        color: $yellow;
        text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
          0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
          -1px 1px 0 $black;
        font-size: 1.8em;
        font-family: "simpsonfontregular", sans-serif;
        i {
          margin: 10px;
          font-size: 2rem;
        }
        .gitlab {
          width: 3.5vw;
        }
      }
    }
  }
}
/* smartphone */
@media only screen and (max-width: 767px) {
  h1,
  h2 {
    /* text-shadow: 0.2vw 0 0 $black, -0.2vw 0 0 $black, 0 0.2vw 0 $black,
      0 -0.2vw 0 $black, 0.1vw 0.1vw $black, -0.1vw -0.1vw 0 $black,
      0.1vw -0.1vw 0 $black, -0.1vw 0.1vw 0 $black; */
    text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
      0 -1px 0 $black, 0.5px 0.5px $black, -0.5px -0.5px 0 $black,
      0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black;
  }
  #navbar {
    background-color: $skyblue;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: top 0.5s;
    z-index: 100;
    width: 100%;
    height: 50px;
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 100%;
      a {
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $yellow;
        text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
          0 -1px 0 $black, 0.5px 0.5px $black, -0.5px -0.5px 0 $black,
          0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black;
        font-size: 1rem;
        font-family: "simpsonfontregular", "sans-serif";
        .donuts {
          display: none;
        }
      }
    }
  }
  // Presentation
  #portrait {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    #presentation {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 30% 10% 20% 10%;
      opacity: 0;
      box-shadow: 0 0 1em #ccc;
      .img-profil {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1vw;
        .photo-profil {
          object-fit: cover;

          width: 30vw;
        }
      }
      #texte_pre {
        width: auto;
        height: 80%;
        margin: 10px;
        h2 {
          font-size: 3.5vw;
          font-family: "simpsonfontregular", sans-serif;
          color: $yellow;
        }
        p {
          font-size: 2.5vw;
          font-family: "Open Sans", sans-serif;
          margin: 15px;
        }
      }
    }

    // keyframes de Presentation

    @keyframes apparition {
      100% {
        opacity: 1;
        transform: scale(1.2);
      }
    }

    @keyframes disparition {
      0% {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }

  // competences
  #competences {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10% 10%;
    opacity: 0;
    box-shadow: 0 0 1em #ccc;
    h2 {
      font-size: 1rem;
      font-family: "simpsonfontregular", sans-serif;
      color: $yellow;
      text-shadow: 0.2vw 0 0 $black, -0.2vw 0 0 $black, 0 0.2vw 0 $black,
        0 -0.2vw 0 $black, 0.1vw 0.1vw $black, -0.1vw -0.1vw 0 $black,
        0.1vw -0.1vw 0 $black, -0.1vw 0.1vw 0 $black;
      margin: 4%;
    }
    figure {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      height: 80%;
      img {
        width: 10vw;
        height: 10vw;
      }
    }
  }
  // presentation des projets
  .projet-text {
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 20% 5% 20%;
    box-shadow: 0 0 1em #ccc;
    .projet-presentation {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 80%;
      padding: 15px;
      h2 {
        font-size: 1rem;
        font-family: "simpsonfontregular", sans-serif;
        color: $yellow;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  // mes projets
  #projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 8vh;
    .figure {
      position: relative;
      display: flex;
      margin: 3.5vw;
      box-shadow: 0 0 1em rgb(100, 100, 100);
      border: 5px solid $skyblue;
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 99;
      .figcaption {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $txtfig;
        top: 0;
        left: 0;
        background-color: $figopacity;
        padding: 15px;
        width: 100%;
        z-index: 99;
        font-size: 1.2rem;
        .click {
          color: $black;
          border-radius: 5px;
          background: $skyblue;
          text-decoration: none;
          height: 100%;
          font-size: 1rem;
          padding: 0.6vw;
          &:hover {
            color: $black;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $skyblue;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .text {
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-family: "Open Sans", sans-serif;
          font-size: 1.5vw;
        }
      }
      .showDescription {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $blueProjet;
        overflow: hidden;
        width: 100%;
        transition: 0.5s ease;
        z-index: 80;
        height: 78%;
        .text {
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-family: "Open Sans", sans-serif;
          width: 80%;
          font-size: 1rem;
        }
      }
    }
  }
  // Mon cv
  #cv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 1rem;
      color: $yellow;
      font-family: "simpsonfontregular", sans-serif;
      text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
        0 -1px 0 $black, 0.5px 0.5px $black, -0.5px -0.5px 0 $black,
        0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black;
    }
    .remerciment {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 5%;
      width: 80%;
      p {
        font-size: 0.8rem;
        font-family: "Open Sans", sans-serif;
        margin: 5px;
      }
    }
    button {
      width: 20%;
      background: $blue;
      border-radius: 5px;
      margin-bottom: 5%;
      a {
        font-size: 1rem;
        text-decoration: none;
        color: $yellow;
        text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
          0 -1px 0 $black, 0.5px 0.5px $black, -0.5px -0.5px 0 $black,
          0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black;
      }
    }
  }
  // Contact
  #contact {
    width: 100%;
    height: 10vh;
    background: $blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      margin-left: 10px;
      font-size: 0.7rem;
    }
    section {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        display: flex;
        justify-content: center; 
        text-decoration: none;
        color: $yellow;
        text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
          0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
          -1px 1px 0 $black;
        font-size: 1.8em;
        font-family: "simpsonfontregular", sans-serif;
        i {
          font-size: 90%;
        }
        .gitlab {
          width: 50%;
        }
      }
    }
  }
}
