@import "variables";
@media only screen and (min-width: 1024px) {
  #portrait {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #presentation {
      width: 60%;
      height: 50%;
      display: flex;
      align-items: center;
      margin: 15% 10% 10% 10%;
      opacity: 0;
      box-shadow: 0 0 1em #ccc;
      .img-profil {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1vw;
        .photo-profil {
          object-fit: cover;
        }
      }
      #texte_pre {
        margin: 2vw;
        h2 {
          font-family: "simpsonfontregular", sans-serif;
          color: $yellow;
          text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
            0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
            0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
        }
        p {
          font-family: "Open Sans", sans-serif;
          margin: 0.4vw;
        }
      }
    }
  }

  // keyframes de Presentation

  @keyframes apparition {
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @keyframes disparition {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
