@import "variables";
@media only screen and (min-width: 1024px) {
  .projet-text {
    width: 60%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1em #ccc;
    opacity: 0;
    margin: 5% 20% 5% 20%; 
    .projet-presentation {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 80%;
      h2 {
        font-family: "simpsonfontregular", sans-serif;
        color: $yellow;
        text-shadow: 0.1vw 0 0 $black, -0.1vw 0 0 $black, 0 0.1vw 0 $black,
          0 -0.1vw 0 $black, 0.05vw 0.05vw $black, -0.05vw -0.05vw 0 $black,
          0.05vw -0.05vw 0 $black, -0.05vw 0.05vw 0 $black;
      }
      p {
        font-size: 1.3vw;
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  // keyframes de Projet

  @keyframes apparition {
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @keyframes disparition {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
