// Section projet

/*
  Mettre en place une animation pour les images
  Les images devront comporter:
    une image du projet 
    le nom du projet en titre : 
      -mis pars dessus l'image en position:absolute 
  L'animation aura pour but :
    -au click l'image ce retourne 
    -au dos de l'image un descriptif du projet bref
    -et un lien pour aller sur le projet
  

  MISE EN PLACE
    utiliser des keyframes avec le rotateX(negatif deg)
    voir a utiliser soit JS ou CSS voir avec popo/brice
*/
@import "variables";

@media only screen and (min-width: 1024px) {
  #projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .figure {
      position: relative;
      display: flex;
      margin: 3.5vw;
      box-shadow: 0 0 1em rgb(100, 100, 100);
      border: 5px solid $skyblue;
      border-radius: 5px;
      overflow: hidden;
      width: 40vw;
      height: 50vh;
      z-index: 99;
      .figcaption {
        position: absolute;
        display: flex;
        justify-content: space-around;
        color: $txtfig;
        top: 0;
        left: 0;
        background-color: $figopacity;
        padding: 15px;
        width: 100%;
        font-size: 2.09vw;
        z-index: 99;
        .click {
          color: $black;
          padding: 0.2vw;
          border-radius: 5px;
          background: $skyblue;
          text-decoration: none;
          height: 100%;
          font-size: 0.8em;
          &:hover {
            color: $txtfig;
          }
        }
      }
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      // classe avant l'apparition au click
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $skyblue;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .text {
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-family: "Open Sans", sans-serif;
          font-size: 1.5vw;
        }
      }
      // classe apres l'apparition au click
      .showDescription {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $blueProjet;
        overflow: hidden;
        width: 100%;
        height: 84%;
        transition: 0.5s ease;
        z-index: 80;
        .text {
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-family: "Open Sans", sans-serif;
          font-size: 1.5vw;
        }
      }
    }
  }
}
