// MAIN VARIABLES
$blue: #1983bd;
$yellow: #f9de31;
$black: #221d0a;

// HEADER VARIABLES
$skyblue: #8cc1de;

// PROJET VARIABLES
$figopacity: rgba(140, 193, 222, 0.671);
$txtfig: #fff;
$blueProjet: rgba(140, 193, 222, 0.9);

// FONT
@font-face {
  font-family: "simpsonfontregular";
  src: url("../fonts/simpsonfont_demo-webfont.woff2") format("woff2"),
    url("../fonts/simpsonfont_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
