@import"https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";@font-face{font-family:"simpsonfontregular";src:url("../fonts/simpsonfont_demo-webfont.woff2") format("woff2"),url("../fonts/simpsonfont_demo-webfont.woff") format("woff");font-weight:normal;font-style:normal}