@import "header";
@import "main";
@import "footer";
@import "presentation";
@import "projet";
@import "competences";
@import "cv";
@import "media-query";
@import "projet-text";
@import "variables";


* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  .fleche {
    position: absolute;
    top: 95%;
    left: 48%;
    font-size: 2vw;
    color: $yellow;
    text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black,
      0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black,
      -1px 1px 0 $black;
    .icofont-arrow-down {
      font-size: 2vw;
    }
  }
}
