* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin: 2vw;
  color: black;
}

p {
  width: 50%;
  height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: black;
}

.earth-texture {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}


/*# sourceMappingURL=/parcell-treejs.9ad09f98.css.map */