* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a,
p {
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3,
strong {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  height: 100%;
}

/* header */

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0%;
  height: 10vh;
  z-index: 1000;
}

header > div {
  display: none;
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #dfe7fd;
}

header > nav > img.logo {
  height: 15vh;
}

header > nav > a {
  font-size: 1.5vw;
  font-weight: bold;
}

/*main*/

main {
  display: flex;
  justify-content: center;
  margin: 10vh;
  margin-top: 30vh;
}

main > figure {
  display: flex;
  position: relative;
}

main > figure > figcaption {
  position: absolute;
  color: white;
  top: 50%;
  left: 8%;
  font-size: 1.5vw;
}

main > figure > img {
  width: 70vw;
  object-fit: cover;
  border-radius: 2%;
}

/*Ma section produits*/

section#produit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#produit > figure {
  display: flex;
  margin: 10vh;
  overflow: hidden;
  border-radius: 2%;
  animation: ease 1s;
}

#produit > figure > a {
  width: 12vw;
  background: #dfe7fd;
  padding: 3vh;
  animation: ease 1s;
}

#produit > figure:hover > img {
  transform: scale(1.1);
}

#produit > figure > a > h2,
#produit > figure > a > p,
#produit > figure > a > strong {
  overflow-wrap: break-word;
  margin: 15px;
}

/*Ma section news*/

section#news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 15vh 0 10vh 0;
  border-radius: 2%;
}

#news > article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
  background: #dfe7fd;
  border-radius: 2%;
}

#news > article:nth-of-type(2) {
  margin-left: 10vw;
}

#news img.actualite1 {
  object-fit: cover;
  border-radius: 2% 2% 0 0;
}

#news img.actualite2 {
  object-fit: cover;
  border-radius: 2% 2% 0 0;
}

#news > article > h3 {
  font-size: 2em;
  margin: 20px;
}

#news > article > p {
  font-size: medium;
  margin: 20px;
}

/*NOS PRODUITS*/

section#bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  margin: 10vw 0 10vw 0;
}

#bouton > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;
  border-radius: 5%;
  background: #dfe7fd;
  font-size: medium;
  font-weight: bold;
  box-shadow: 10px 5px 5px gray;
}

/*Footer*/

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

i.icofont-arrow-up {
  position: absolute;
  top: calc(94% - 100px);
  left: calc(100% - 100px);
  font-size: 100px;
}

footer > address {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #cddafd;
}

footer > address > a > img.logo {
  position: absolute;
  top: calc(100% - 150px);
  height: 150px;
}

@keyframes reduce {
  100% {
    height: 10vh;
  }
}

@keyframes enlarge {
  0% {
    height: 10vh;
  }
  100% {
    height: 20vh;
  }
}

/*Format Telephone*/

@media screen and (orientation: portrait) {
  /*header*/

  header {
    height: 6vh;
    background-color: #dfe7fd;
  }
  /* On affiche les bt... */
  header > div {
    display: block;
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.8em;
  }
  /* Couleur du text des icones */
  header > div > a {
    text-decoration: none;
    color: #191a1c;
  }
  /* ... Mais on laisse masqué le bt fermeture */
  header > div #close {
    display: none;
  }
  /* On masque le menu par défaut */
  header > nav {
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 0;
    font-size: 1em;
    background-color: #dfe7fd;
    transform: translate3d(0, -1100px, 0);
    transition: all 1s;
  }

  header > nav > img {
    display: none;
  }
  /* Couleur du text en version mobile */
  header > nav > a {
    color: black;
    font-size: 1.5em;
  }
  /* Lorsque l'on clique sur le burger, on affiche le nav */
  header#menu:target > nav {
    transform: translate3d(0, 0, 0);
  }
  /* et on masque le burger */
  header#menu:target #burger {
    display: none;
  }
  /* Pour afficher la croix*/
  header#menu:target #close {
    display: block;
  }
  /* le lien du bt close est un #, ce qui annulera tous les target précédents*/

  /*ma section produit*/

  main > figure > figcaption {
    position: absolute;
    color: white;
    top: 40%;
    left: 5%;
    font-size: 3vw;
  }

  main > figure > img {
    width: 90vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 2%;
  }

  /*Ma section produits*/

  #produit > figure {
    display: flex;
    flex-direction: column-reverse;
    width: 70vw;
    height: 40vh;
    margin: 2vh;
    overflow: hidden;
    border-radius: 2%;
    animation: ease 1s;
  }

  #produit > figure > a {
    width: 100%;
    background: #dfe7fd;
    padding: 2vh;
    animation: ease 1s;
  }

  #produit > figure > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  #produit > figure > a > h2,
  #produit > figure > a > p,
  #produit > figure > a > strong {
    overflow-wrap: break-word;
    margin: 8px;
  }

  /*Ma section news*/

  section#news {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  #news > article {
    width: 70vw;
    margin-top: 20px;
  }

  #news > article:nth-of-type(2) {
    margin-left: 0px;
  }

  #news > article > h3 {
    font-size: 1em;
    margin: 20px;
  }

  #news > article > p {
    font-size: medium;
    margin: 20px;
  }

  /*NOS PRODUITS*/

  #bouton > a {
    text-align: center;
    width: 35vw;
    height: 10vh;
    border-radius: 5%;
    background: #dfe7fd;
    font-size: small;
    font-weight: bold;
    box-shadow: 10px 5px 5px gray;
  }

  /*Footer*/

  i.icofont-arrow-up {
    position: absolute;
    top: calc(100% - 100px);
    left: calc(100% - 80px);
    font-size: 80px;
  }

  footer > address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: #cddafd;
  }

  footer > address > a > img.logo {
    display: none;
  }

  footer > address > a {
    font-size: medium;
    margin: 6px;
  }
}
