* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url("black-concrete-wall.jpg") no-repeat fixed center;
    background-size: 100%;

}

header{
    display: flex;
    flex-flow:row;
    justify-content:space-around;
    align-items: center;
    background-color: #000000;
    width: 100%;
    
}

#logo{
    width: 17vw;
}

#BLACKHAWKS{
    width: 13vw;
}

header > a{
    font-size: 3vh;
    color: white;
    text-decoration: none;
    margin:2vw;
    /* border: 2px solid white; */
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Helvetica, sans-serif;
}
figure {
    position: relative;
    display: flex;
    border-radius: 2%;
    overflow: hidden;
    width: 70vw;
    height: 80vh;
    margin: 5vh 0 5vh 0;
}

figure > figcaption {
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(252, 255, 255, 0.336);
    padding: 15px;
    width: 100%;
}

figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

figure:hover > img{
    object-fit: cover;
	transform: scale(1.3);
}

figure > figcaption > h1{
    margin: 5px;
}

figure.bar-jeux {
    position: relative;
    display: flex;
    border-radius: 2%;
    overflow: hidden;
    width: 25vw;
    height: 30vh;
    margin-top: 5vh;
}

#bar-jeux-section {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#bar-jeux-section > figure:hover > img{
    object-fit: cover;
	transform: scales(1.1);
}

section.piano{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 5vh 0;
    width: 100%;
}

article.piano{
    width: 100%;
    height: 20vh;
    text-align: center;
    
}

article.piano > h2{
    margin: 2vh;
    font-size: 8vh;
    color: #ffffff;
}

article.piano > p{
    font-size: 4vh;
    color: #ffffff;
}

.article{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: 5vh 0 5vh 0;
}

.interview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 40vh;
}

.interview2{
    font-size: 20px;
    margin: 2vh;
    text-align: center;
}

.interview2 > h2,p {
    margin: 2vh;
}

.article > article > img {
    width: 40vw;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}

footer > a > img {
    width: 50px;
    background-color: rgb(77, 64, 192);
}

footer > a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
}

@media all and (max-width: 1024px){
    
}